{% extends 'base.html.twig' %}

{% block title %} Assistance{% endblock %}

{% block body %}
   <div class="w3-container w3-blue-gray">
        <h1 class="text-white">Formulaire de Contact</h1>
    </div>
    <div class="container">
            <div class="row">
                {% if notifier %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ notifier }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                {{ form_start(form) }}
                    <div class="col-md-6 mx-auto">
                        {{ form_row(form.firstname) }} 
                        {{ form_row(form.lastname) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.contenu) }}
                    </div>
                {{ form_end(form) }}
            </div>
        
    </div>
{% endblock %}

{# form_row = est utilisée pour afficher le champ de formulaire en utilisant le modèle de présentation par défaut de Symfony #}
{# form.firstname est une propriété de l'objet form qui représente le champ de formulaire associé au prénom d'une personne. #}
{# form est un objet de formulaire créé à partir d'une classe de formulaire Symfony qui définit les champs de formulaire et leurs contraintes de validation. #}
